# MacOS
.DS_Store

# Environment variables
*.env

# JetBrains
.idea/

# Visual Studio Code
.vscode/

# Backend
backend/serpapi

# Frontend
frontend/package.json
frontend/package-lock.json
node_modules/